
stages:
  - build
#  - test
  - documentation


###################### BUILD STAGE #############################################

# Defines the steps to run the tests
# Inherit with "extends: .base-build" and remember to set
# the following variables: COMPILER (g++, clang++, ...) and
# MODE (debug, release, optimized)
.base-build:
  stage: build
  script:
    - git clone https://gitlab.com/cttc-lena/ns-3-dev.git
    - mkdir -p $CCACHE_BASEDIR_VALUE
    - export CCACHE_BASEDIR=${PWD}
    - export CCACHE_DIR=${PWD}/$CCACHE_BASEDIR_VALUE
    - mkdir -p ns-3-dev/contrib/nr
    - cp -r doc examples helper model test utils ns-3-dev/contrib/nr/
    - cp -r wscript ns-3-dev/contrib/nr/
    - cd ns-3-dev
    - CXX="ccache $COMPILER" ./waf configure --enable-examples --enable-tests -d $MODE
    - ./waf
    - ./test.py
    - cd ../
    - rm -rf ns-3-dev
  cache:
    paths:
      - $CCACHE_BASEDIR_VALUE/
  timeout: 9h
  variables:
    CCACHE_BASEDIR_VALUE: ns-3-ccache-storage

# Defines the per-commit jobs. They are executed for any branch
per-commit-compile-debug:
  extends: .base-build
  image: archlinux/base
  variables:
    COMPILER: g++
    MODE: debug
  before_script:
    - pacman -Syu --noconfirm
    - pacman -Sy base-devel python ccache gsl libgcrypt gtk3 boost git --noconfirm

per-commit-compile-release:
  extends: .base-build
  image: archlinux/base
  variables:
    COMPILER: g++
    MODE: release
  before_script:
    - pacman -Syu --noconfirm
    - pacman -Sy base-devel python ccache gsl libgcrypt gtk3 boost git --noconfirm

per-commit-compile-optimized:
  extends: .base-build
  image: archlinux/base
  variables:
    COMPILER: g++
    MODE: optimized
  before_script:
    - pacman -Syu --noconfirm
    - pacman -Sy base-devel python ccache gsl libgcrypt gtk3 boost git --noconfirm

###################### DOC STAGE #############################################
.doc:
  stage: documentation
  before_script:
    - apt-get update
    - DEBIAN_FRONTEND=noninteractive apt-get install -y tzdata
    - apt-get install -y doxygen graphviz make imagemagick dia texlive texlive-font-utils python3-sphinx latexmk texlive texlive-science texlive-formats-extra texlive-base python3-jinja2 python3-pygments texlive-fonts-extra
    - sed -i "s/EPS,PDF,//g" /etc/ImageMagick-6/policy.xml
    - sed -i "s/none/read\ |\ write/g" /etc/ImageMagick-6/policy.xml
  image: ubuntu
  artifacts:
    paths:
      - public
  only:
    - master

doxygen:
  extends: .doc
  script:
    - python3 doc/m.css/doxygen/dox2html5.py doc/doxygen-mcss.conf --debug
    - mv doc/doc/html/ public/

manual:
  extends: .doc
  script:
    - cd doc && make latexpdf
    - cd ..
    - mv doc/build/latex/*.pdf public


include:
  - '.gitlab-ci-clang.yml'
  - '.gitlab-ci-gcc.yml'
